body{
  background-image: linear-gradient(to right, black, aqua);
}
.logo {
  font-family:cursive;
  color: red;
}
.card-img {
  height: 250px;
  width: 100%;
}
/* .loginForm {
  width: 500px;
  position: relative;
  left: 50%;
  margin-left: -250px;
  color: yellow;
} */