body{
  background-image: linear-gradient(to right, black, rgb(4, 97, 97));
}
.logo {
  font-family:cursive;
  color: red;
}
.card-img {
  /* height: 250px;
  width: 100%; */
  max-height: 300px;
  max-width: 100%;
}
.darkTransparentBackground {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}